@font-face {
  font-weight: 600;
  font-family: Spectral;
  font-style: italic;
  src: url("../fonts/Spectral-Italic.woff2") format("woff2"),
    url("../fonts/Spectral-Italic.woff") format("woff");

  font-display: swap;
}

@font-face {
  font-weight: 600;
  font-family: "URW Gothic";
  src: url("../fonts/gothic.woff2") format("woff2"),
    url("../fonts/gothic.woff") format("woff");

  font-display: swap;
}
